<?xml version="1.0"?>
<launch>

    <arg name="standalone" default="true"/>

    <!-- ARGUMENTS - DS4 -->
    <arg name="addr"              default="84:30:95:2C:67:7C" />
    <arg name="use_standard_msgs" default="false" />
    <arg name="autorepeat_rate"   default="0" if="$(arg use_standard_msgs)" />
    <arg name="stamped"           default="false" />
    <arg name="teleop_ns"         default="teleop"/>

    <group ns="teleop">
        <!-- LAUNCH DS4_DRIVER NODE -->
        <node pkg="ds4_driver" type="ds4_driver_node.py" name="ds4_driver" output="screen">
            <param name="device_addr"       value="$(arg addr)" />
            <param name="use_standard_msgs" value="$(arg use_standard_msgs)" />
            <param name="autorepeat_rate"   value="$(arg autorepeat_rate)" if="$(arg use_standard_msgs)" />
            <rosparam command="load" file="$(find ds4_driver)/config/params.yaml" />
        </node>
    
        <!-- LAUNCH DS4_TWIST NODE -->
        <node pkg="akros_teleop" type="ds4_twist_node.py" name="ds4_twist" output="screen">
          <param name="stamped" value="$(arg stamped)" />
          <rosparam command="load" file="$(find akros_teleop)/config/ds4_twist_3dof.yaml" />
        </node>
    
        <!-- LAUNCH DS4_FEEDBACK NODE -->
        <node pkg="akros_teleop" type="ds4_feedback_node.py" name="ds4_feedback" output="screen">
            <rosparam command="load" file="$(find akros_teleop)/config/ds4_twist_3dof.yaml" />
        </node>
        
        <!-- DS4 STATIC TRANSFORM -->
        <node pkg="tf2_ros" type="static_transform_publisher" name="ds4_to_imu" args="0 0.05 -0.01 -1.5707 0 1.5707 ds4 ds4_imu" />
    </group>

    
    <group if="$(arg standalone)">
        <!-- INCLUDE ROSSERIAL ARDUINO LAUNCH FILE -->
        <include file="$(find akros_bringup)/launch/rosserial_arduino.launch">
            <remap from="cmd_vel" to="$(arg teleop_ns)/cmd_vel"/>
        </include>
    </group>

</launch>
