<?xml version="1.0"?>
<launch>

    <arg name="mode"       default="toolbox" doc="slam type [gmapping, hector, karto, toolbox]"/>
    <arg name="tb_mode"    default="async" doc="slam_toolbox mode [lifelong, localization, async, sync, merge]"/>
    <arg name="bu_mode"    default="2d" doc="bringup modes [2d, 3d]"/>
    <arg name="trajectory" default="true"/>
    
    <group if="$(eval arg('mode') == 'gmapping')">
        <!-- INCLUDE GMAPPING LAUNCH FILE -->
        <include file="$(find akros_slam)/launch/demo_gmapping.launch">
            <arg name="bringupType" value="$(arg bu_mode)"/>
        </include>
    </group>
    
    <group if="$(eval arg('mode') == 'hector')">
        <!-- INCLUDE HECTOR_SLAM LAUNCH FILE -->
        <include file="$(find akros_slam)/launch/demo_hector_slam.launch">
            <arg name="bringupType" value="$(arg bu_mode)"/>
            <arg name="trajectory" value="false" if="$(arg trajectory)"/>
        </include>
    </group>

    <group if="$(eval arg('mode') == 'karto')">
        <!-- INCLUDE SLAM_KARTO LAUNCH FILE -->
        <include file="$(find akros_slam)/launch/demo_slam_karto.launch">
            <arg name="bringupType" value="$(arg bu_mode)"/>
        </include>
    </group>
    
    <group if="$(eval arg('mode') == 'toolbox')">
        <!-- INCLUDE SLAM_TOOLBOX LAUNCH FILE -->
        <include file="$(find akros_slam)/launch/demo_slam_toolbox.launch">
            <arg name="mode" value="$(arg tb_mode)"/>
            <arg name="bringupType" value="$(arg bu_mode)"/>
        </include>
    </group>
    
    <group if="$(arg trajectory)">
        <!-- LAUNCH HECTOR_TRAJECTORY_SERVER NODE -->
        <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" output="screen">
            <param name="target_frame_name" type="string" value="map" />
            <param name="source_frame_name" type="string" value="base_link"/>
            <rosparam command="load" file="$(find akros_slam)/config/hector_trajectory_params.yaml" />
        </node>
    </group>
    
</launch>