<?xml version="1.0"?>
<launch>
    
    <!-- ARGUMENTS - SLAM KARTO -->
    <arg name="base_frame"      default="base_link"/>
    <arg name="t265_odom_frame" default="t265_odom_frame"/>
    <arg name="scan_topic"      default="ldlidar/scan"/>
    <arg name="bringup"         default="true"/>
    
    <group if="$(arg bringup)">
        <!-- INCLUDE AKROS BRINGUP LAUNCH FILE -->
        <include file="$(find akros_bringup)/launch/demo_bringup.launch"/>
    </group>

    <!-- LAUNCH SLAM_KARTO NODE -->
    <param name="/use_sim_time" value="false"/>
    <node pkg="slam_karto" type="slam_karto" name="slam_karto"><!-- output="screen" -->
        <remap from="scan"        to="$(arg scan_topic)"/>
        <param name="base_frame"  value="$(arg base_frame)"/>
        <param name="odom_frame"  value="$(arg t265_odom_frame)"/>
        <param name="map_frame"   value="map"/>
        <rosparam command="load" file="$(find akros_slam)/config/slam_karto_params.yaml" />
    </node>

</launch>
