<?xml version="1.0"?>
<launch>
    
    <arg name="slam_type" default="toolbox" doc="slam type [gmapping, hector, karto, toolbox]"/>
    
    <group if="$(eval arg('slam_type') == 'gmapping')">
        <!-- INCLUDE GMAPPING LAUNCH FILE -->
        <include file="$(find akros_slam)/launch/demo_gmapping.launch"/>
    </group>
    
    <group if="$(eval arg('slam_type') == 'hector')">
        <!-- INCLUDE HECTOR_SLAM LAUNCH FILE -->
        <include file="$(find akros_slam)/launch/demo_hector_slam.launch"/>
    </group>

    <group if="$(eval arg('slam_type') == 'karto')">
        <!-- INCLUDE SLAM_KARTO LAUNCH FILE -->
        <include file="$(find akros_slam)/launch/demo_slam_karto.launch"/>
    </group>
    
    <group if="$(eval arg('slam_type') == 'toolbox')">
        <!-- INCLUDE SLAM_TOOLBOX LAUNCH FILE -->
        <include file="$(find akros_slam)/launch/demo_slam_toolbox.launch"/>
    </group>

</launch>