<?xml version="1.0"?>
<launch>
    
    <!-- ARGUMENTS - HECTOR_MAPPING -->
    <arg name="scanmatch_transform_frame_name" default="scanmatcher_frame"/>
    <arg name="base_frame"                     default="base_link"/>
    <arg name="t265_odom_frame"                default="t265_odom_frame"/>
    <arg name="pub_map_odom_transform"         default="true"/>
    <arg name="scan_topic"                     default="ldlidar/scan"/>
    <arg name="bringup"                        default="true"/>
    
    <!-- ARGUMENTS - HECTOR_GEOTIFF, TRAJECTORY -->
    <arg name="trajectory"         default="true"/>
    <arg name="map_file_path"      default="$(find akros_slam)/maps"/>
    <arg name="map_file_base_name" default="hector_slam_map"/>
    
    <group if="$(arg bringup)">
        <!-- INCLUDE AKROS BRINGUP LAUNCH FILE -->
        <include file="$(find akros_bringup)/launch/demo_bringup.launch"/>
    </group>

    <!-- LAUNCH HECTOR_MAPPING NODE -->
    <param name="/use_sim_time" value="false"/>
    <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping"><!-- output="screen" -->
        <param name="map_frame"              value="map" />
        <param name="base_frame"             value="$(arg base_frame)" />
        <param name="odom_frame"             value="$(arg t265_odom_frame)"/>
        <param name="pub_map_odom_transform" value="$(arg pub_map_odom_transform)"/>
        <param name="scan_topic"             value="$(arg scan_topic)"/>
        <param name="tf_map_scanmatch_transform_frame_name" value="$(arg scanmatch_transform_frame_name)"/>
        <rosparam command="load" file="$(find akros_slam)/config/hector_mapping_params.yaml" />
    </node>
    
    <group if="$(arg trajectory)">
        <!-- LAUNCH HECTOR_TRAJECTORY_SERVER NODE -->
        <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server">
            <param name="target_frame_name" type="string" value="map" />
            <param name="source_frame_name" type="string" value="$(arg base_frame)"/>
            <rosparam command="load" file="$(find akros_slam)/config/hector_trajectory_params.yaml" />
        </node>
    </group>
    
    <!-- LAUNCH HECTOR_GEOTIFF NODE -->
    <node pkg="hector_geotiff" type="geotiff_node" name="hector_geotiff_node" output="screen" launch-prefix="nice -n 15">
        <remap from="map" to="/dynamic_map" />
        <param name="map_file_path" type="string" value="$(arg map_file_path)" />
        <param name="map_file_base_name" type="string" value="$(arg map_file_base_name)" />
        <param name="plugins" type="string" value="hector_geotiff_plugins/TrajectoryMapWriter" />
        <rosparam command="load" file="$(find akros_slam)/config/hector_geotiff_params.yaml" />
    </node>

</launch>
