<?xml version="1.0"?>
<launch>
    
    <!-- ARGUMENTS - T265 -->
    <arg name="enable_fisheye" default="true"/>
    
    <!-- ARGUMENTS - RPLIDAR -->
    <arg name="lidarSerial" default="/dev/ttyUSB_RPLIDAR"/>
    
    <!-- ARGUMENTS - GMAPPING -->
    <arg name="base_frame" default="t265_pose_frame"/>
    <arg name="odom_frame" default="t265_odom_frame"/>
    <arg name="scan_topic" default="rplidar/scan"/>
    
    <!-- INCLUDE AKROS BRINGUP LAUNCH FILE -->
    <arg name="bringupType" default="2d"/> <!-- 2d or 3d -->
    <include file="$(find akros_bringup)/launch/demo_bringup_$(arg bringupType).launch">
        <arg name="lidarSerial"    value="$(arg lidarSerial)"/>
        <arg name="enable_fisheye" value="$(arg enable_fisheye)"/>
    </include>

    <!-- LAUNCH GMAPPING NODE -->
    <param name="/use_sim_time" value="false"/>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <param name="base_frame" value="$(arg base_frame)"/>
        <param name="odom_frame" value="$(arg odom_frame)"/>
        <param name="map_frame"  value="map"/>
        <remap from="scan" to="$(arg scan_topic)"/>
        <rosparam command="load" file="$(find akros_slam)/config/gmapping_params.yaml"/>
    </node>

</launch>
