<?xml version="1.0"?>
<launch>
    <!-- ARGUMENTS - BRINGUP -->
    <arg name="mode" default="2d" doc="modes [2d, 3d]"/>
    
    <!-- ARGUMENTS - OAKD -->
    <arg name="oakd_mode" default="rgbd" doc="OAK-D Modes [rgb, rgbd, stereo]"/>
    
    <!-- ARGUMENTS - T265 -->
    <arg name="enable_fisheye"  default="true"/>
    <arg name="publish_odom_tf" default="true"/> <!-- if false EKF is used, if true t265 odom to pose tf used -->
    
    <!-- ARGUMENTS - ASSISTED TELEOP -->
    <arg name="avoidance"      default="false"/>
    <arg name="assisted_topic" default="assisted/cmd_vel"/>
    <arg name="teleop_topic"   default="teleop/cmd_vel"/>

    <!-- INCLUDE DESCRIPTION LAUNCH FILE -->
    <include file="$(find akros_description)/launch/akros_description.launch" />
    
    <!-- INCLUDE T265 LAUNCH FILE -->
    <include file="$(find akros_bringup)/launch/rs_t265.launch">
        <arg name="enable_fisheye1" value="$(arg enable_fisheye)"/>
        <arg name="enable_fisheye2" value="$(arg enable_fisheye)"/>
        <arg name="publish_odom_tf" value="$(arg publish_odom_tf)"/>
    </include>
   
    <!-- INCLUDE RPLIDAR LAUNCH FILE -->
    <include file="$(find akros_bringup)/launch/rplidar_a2.launch"/>
    
    <!-- IF 3D, LAUNCH OAK-D -->
    <group if="$(eval arg('mode') == '3d')"> 
        <!-- INCLUDE OAK-D LAUNCH FILE -->
        <include file="$(find akros_bringup)/launch/demo_oakd.launch">
            <arg name="oakd_mode" value="$(arg oakd_mode)"/>
            <arg name="standalone" value="false"/>
        </include>
    </group>
    
    <!-- INCLUDE DS4 CONTROLLER LAUNCH FILE -->
    <include file="$(find akros_teleop)/launch/ds4_drive.launch">
        <arg name="standalone" value="false"/>
    </include>
    
    <!-- INCLUDE ROSSERIAL ARDUINO LAUNCH FILE -->
    <include file="$(find akros_bringup)/launch/rosserial_arduino.launch"/>
    
    <!-- LAUNCH ASSISTED_TELEOP NODE -->
    <param name="/use_sim_time" value="false"/>
    <node pkg="assisted_teleop" name="assisted_teleop" type="assisted_teleop" respawn="false">
        <rosparam file="$(find akros_teleop)/config/assisted_teleop_params.yaml" command="load" />
        <remap from="teleop_cmd_vel" to="$(arg teleop_topic)" />
        <remap from="cmd_vel" to="$(arg assisted_topic)" />
    </node>
    
    <!-- LAUNCH TWIST_MIXER NODE -->
    <node pkg="akros_bringup" type="twist_mixer.py" name="twist_mux"/>

</launch>
