<?xml version="1.0"?>
<launch>

  <arg name="ns"          default="rplidar"/>
  <arg name="lidarSerial" default="/dev/ttyUSB_LIDAR"/>

  <group ns="$(arg ns)">
    <node name="rplidarNode" pkg="rplidar_ros"  type="rplidarNode">
      <!-- arg name="use_gdb" default="false"/ -->
      <param name="serial_port"         type="string" value="$(arg lidarSerial)"/>
      <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2, 256000 for A3-->
      <param name="frame_id"            type="string" value="laser_frame"/>
      <param name="inverted"            type="bool"   value="false"/>
      <param name="angle_compensate"    type="bool"   value="true"/>
    </node>
  </group>

</launch>