<launch>

    <!-- ARGUMENTS - EXPLORE_LITE -->
    <arg name="base_frame_id" default="base_link"/> 
    <arg name="costmap_topic" default="map"/>
    <arg name="costmap_updates_topic" default="map_updates"/>

    <!-- LAUNCH EXPLORE_LITE NODE -->
    <node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
        <param name="robot_base_frame" value="base_link"/>
        <param name="costmap_topic" value="map"/>
        <param name="costmap_updates_topic" value="map_updates"/>
        <rosparam file="$(find akros_navigation)/config/explore_lite_params.yaml" command="load" />
    </node>
    
</launch>