<?xml version="1.0"?>
<launch>
    
    <include file="$(find akros_test)/launch/pointcloud_stereo_lidar_filtered.launch" />
    <!-- include file="$(find akros_test)/launch/pointcloud_stereo_lidar.launch" / -->
    <!-- include file="$(find akros_test)/launch/pointcloud_stereo_lidar_filtered.launch" / -->
    <arg name="lidarName" default="rplidar"/>

    <arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>

    <param name="/use_sim_time" value="false"/>

    <include file="$(find hector_mapping)/launch/mapping_default.launch">
        <arg name="scan_topic" value="$(arg lidarName)/scan_filtered"/>
        <arg name="odom_frame" value="base_link"/>
        <arg name="base_frame" value="base_link"/>
    </include>
    
    <include file="$(find hector_geotiff_launch)/launch/geotiff_mapper.launch">
        <arg name="trajectory_source_frame_name" value="base_link"/>
        <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
    </include>

</launch>
