<?xml version="1.0"?>
<launch>

    <!-- ARGUMENTS - GLOBAL -->
    <arg name="nodeName"           default="nnd_pub"/>
    <arg name="pub_fiducials"      default="false"/>
    <arg name="pub_detections"     default="false"/>
    <arg name="modelName"          default="mobilenet"/> <!-- mobilenet or yolov4 -->
    <arg name="lidarName"          default="rplidar"/>
    <arg name="lidarSerial"        default="/dev/ttyUSB0"/>
    <arg name="trackCam"           default="t265"/>
    
    <!-- ARGUMENTS - T265 -->
    <arg name="enable_fisheye"   default="true"/>
    <arg name="enable_sync"      default="false"/>
    <arg name="linear_accel_cov" default="0.01"/>
    <arg name="initial_reset"    default="false"/>
    <arg name="unite_imu_method" default=""/>

    <!-- INCLUDE BASE LAUNCH FILES -->
    <!-- INCLUDE DESCRIPTION -->
    <!-- include file="$(find akros_test)/launch/base_launch/akros_description.launch" / -->
    
    <!-- INCLUDE OAKD LAUNCH FILE -->
    <include file="$(find akros_test)/launch/base_launch/oakd_nnd_pointcloud.launch">
    </include>
    
    <!-- INCLUDE RPLIDAR LAUNCH FILE -->
    <include file="$(find akros_test)/launch/base_launch/rplidar_2d_pointcloud.launch">
        <arg name="lidarName" value="$(arg lidarName)"/>
        <arg name="lidarSerial" value="$(arg lidarSerial)"/>
    </include>
    
    <!-- INCLUDE T265 LAUNCH FILE -->
    <include file="$(find akros_test)/launch/base_launch/t265_stereo_slam.launch">
      <arg name="device_type"              value="$(arg trackCam)"/>
      <arg name="enable_fisheye"           value="$(arg enable_fisheye)"/>
      <arg name="enable_sync"              value="$(arg enable_sync)"/>
      <arg name="linear_accel_cov"         value="$(arg linear_accel_cov)"/>
      <arg name="initial_reset"            value="$(arg initial_reset)"/>
      <arg name="unite_imu_method"         value="$(arg unite_imu_method)"/>
    </include>
    
    <!-- ARGUMENTS - ARUCO_DETECT -->
    <arg name="fiducial_len" default="0.068"/>
    <arg name="dictionary" default="7"/>
    <arg name="do_pose_estimation" default="true"/>
    <arg name="vis_msgs" default="false"/>
    <arg name="ignore_fiducials" default="" />
    <arg name="fiducial_len_override" default="" />

    <!-- ARUCO_DETECT NODE -->
    <node pkg="aruco_detect" name="aruco_detect" type="aruco_detect" output="screen" respawn="false">
        <param name="image_transport" value="compressed"/>
        <param name="publish_images" value="$(arg pub_fiducials)" />
        <param name="fiducial_len" value="$(arg fiducial_len)"/>
        <param name="dictionary" value="$(arg dictionary)"/>
        <param name="do_pose_estimation" value="$(arg do_pose_estimation)"/>
        <param name="vis_msgs" value="$(arg vis_msgs)"/>
        <param name="ignore_fiducials" value="$(arg ignore_fiducials)"/>
        <param name="fiducial_len_override" value="$(arg fiducial_len_override)"/>
        <remap from="camera/compressed" to="$(arg nodeName)/color/image/compressed"/>
        <remap from="camera_info" to="$(arg nodeName)/color/camera_info"/>
        <remap from="fiducial_images" to="$(arg nodeName)/color/fiducial_images"/>
        <remap from="fiducial_vertices" to="aruco_detect/fiducial_vertices"/>
        <remap from="fiducial_transforms" to="aruco_detect/fiducial_transforms"/>
    </node>

</launch>
