<?xml version="1.0"?>
<launch>

    <!-- ARGUMENTS - OAK-D -->
    <arg name="nodeName"         default="nnd"/>
    <arg name="modelName"        default="mobilenet"/> <!-- mobilenet or yolov4 -->
    <arg name="pub_detections"   default="false"/>
    
    <!-- ARGUMENTS - T265 -->
    <arg name="enable_fisheye"   default="true"/>

    <!-- INCLUDE BASE LAUNCH FILES -->
    <!-- INCLUDE DESCRIPTION LAUNCH FILE -->
    <include file="$(find akros)/launch/base_launch/akros_description.launch" />
    
    <!-- INCLUDE T265 LAUNCH FILE -->
    <include file="$(find akros)/launch/base_launch/rs_t265.launch">
      <arg name="enable_fisheye"           value="$(arg enable_fisheye)"/>
    </include>
    
    <!-- INCLUDE OAKD LAUNCH FILE -->
    <include file="$(find akros)/launch/base_launch/oakd_$(arg nodeName)_pointcloud.launch">
      <arg name="pub_detections"   value="$(arg pub_detections)"/>
    </include>

</launch>
