<?xml version="1.0"?>
<launch>
    
    <!-- ARGUMENTS - T265 -->
    <arg name="enable_fisheye" default="true"/>
    
    <!-- ARGUMENTS - RPLIDAR -->
    <arg name="lidarSerial" default="/dev/ttyUSB_RPLIDAR"/>

    <!-- INCLUDE DESCRIPTION LAUNCH FILE -->
    <include file="$(find akros)/launch/base_launch/akros_description.launch" />
    
    <!-- INCLUDE T265 LAUNCH FILE -->
    <include file="$(find akros)/launch/base_launch/rs_t265.launch">
      <arg name="enable_fisheye" value="$(arg enable_fisheye)"/>
    </include>
   
    <!-- INCLUDE RPLIDAR LAUNCH FILE -->
    <include file="$(find akros)/launch/base_launch/rplidar_a2.launch">
        <arg name="lidarSerial" value="$(arg lidarSerial)"/>
    </include>

</launch>
