<?xml version="1.0"?>
<launch>

    <arg name="standalone" default="false"/>

    <!-- ARGUMENTS - DS4 -->
    <arg name="addr"              default="84:30:95:2C:67:7C" />
    <arg name="use_standard_msgs" default="false" />
    <arg name="autorepeat_rate"   default="0" if="$(arg use_standard_msgs)" />
    <arg name="stamped"           default="false" />
    <arg name="teleop_ns"         default="teleop"/>

    <group ns="teleop">
        <!-- LAUNCH DS4_DRIVER NODE -->
        <node pkg="ds4_driver" type="ds4_driver_node.py" name="ds4_driver">
            <param name="device_addr"       value="$(arg addr)" />
            <param name="use_standard_msgs" value="$(arg use_standard_msgs)" />
            <param name="autorepeat_rate"   value="$(arg autorepeat_rate)" if="$(arg use_standard_msgs)" />
            <rosparam command="load" file="$(find ds4_driver)/config/params.yaml" />
        </node>
    
        <!-- LAUNCH DS4_TWIST NODE -->
        <node pkg="akros_teleop" type="ds4_twist_node.py" name="ds4_twist">
          <param name="stamped" value="$(arg stamped)" />
          <remap from="cmd_vel" to="/twist_mixer/cmd_vel" if="$(arg standalone)" />
          <rosparam command="load" file="$(find akros_teleop)/config/ds4_twist_3dof.yaml" />
        </node>
    
        <!-- LAUNCH DS4_FEEDBACK NODE -->
        <node pkg="akros_teleop" type="ds4_feedback_node.py" name="ds4_feedback" respawn="true">
            <remap from="cmd_vel" to="/cmd_vel" if="$(arg standalone)" />
            <rosparam command="load" file="$(find akros_teleop)/config/ds4_twist_3dof.yaml" />
        </node>
        
        <!-- DS4 STATIC TRANSFORM -->
        <node pkg="tf2_ros" type="static_transform_publisher" name="ds4_to_imu" args="0 0.05 -0.01 -1.5707 0 1.5707 ds4 ds4_imu" />
    </group>
    
    <group if="$(arg standalone)">
        <!-- LAUNCH TWIST_MUX NODE (ESTOP) -->
        <node pkg="twist_mux" type="twist_mux" name="twist_mux">
            <rosparam file="$(find akros_bringup)/config/twist_mux_config.yaml" command="load" />
            <remap from="cmd_vel_out" to="/cmd_vel"/>
        </node>
    
        <arg name="odom_frame_id" default="enc_odom_frame"/>
        <arg name="pose_frame_id" default="enc_pose_frame"/>
    
        <!-- INCLUDE ROSSERIAL ARDUINO LAUNCH FILE -->
        <include file="$(find akros_bringup)/launch/rosserial_arduino.launch">
            <arg name="odom_frame_id" value="$(arg odom_frame_id)"/>
            <arg name="pose_frame_id" value="$(arg pose_frame_id)"/>
        </include>
    </group>

</launch>
