# To install, type this command in a terminal:
# sudo cp rgb_cooling_hat.service /etc/systemd/system/rgb_cooling_hat.service
# + change path to executable

[Unit]
Description=RGB Cooling Hat Service
After=jupyter.service

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/ubuntu/ros1_ws/src/akros/akros/utilities/rgb_cooling_hat.py

[Install]
WantedBy=multi-user.target
