<launch>

<!-- Run autonomy stack -->
<param name="waypoint_list" value="$(find akros_behaviors)/config/waypoints_store.yaml" />
<node pkg="akros_behaviors" type="waypoint_sequence_node" name="patrol_node" output="screen"/>

<!-- Run behavior tree visualization -->
<!-- node pkg="groot" type="Groot" name="groot" output="screen" args="mode monitor"/ -->

</launch>
