<launch>

    <arg name="mode"    default="holo"/>  <!-- diff or holo -->
    <arg name="bu_mode" default="2d"/> <!-- 2d or 3d -->
    <arg name="t265"    default="true"/>
    <arg name="bringup" default="true"/>

    <!-- ARGUMENTS - AMCL -->
    <arg name="map_file" default="$(find akros_slam)/maps/studio_obs_slam_toolbox.yaml"/>
    <arg name="initial_pose_x" default="-3.7"/>
    <arg name="initial_pose_y" default="-0.5"/>
    <arg name="initial_pose_a" default="0.0"/>
    
    <!-- ARGUMENTS - MOVE_BASE -->
    <arg name="base_global_planner" default="global_planner/GlobalPlanner"/> 
    <arg name="diff_local_planner" default="base_local_planner/TrajectoryPlannerROS"/>
    <arg name="holo_local_planner" default="dwa_local_planner/DWAPlannerROS"/>
    
    <group if="$(arg bringup)">
        <!-- INCLUDE AKROS BRINGUP LAUNCH FILE -->
        <include file="$(find akros_bringup)/launch/demo_bringup.launch">
            <arg name="mode" value="$(arg bu_mode)"/>
            <arg name="t265" value="$(arg t265)"/>
        </include>
    </group>
    
    <!-- INCLUDE AMCL LAUNCH FILE -->
    <include file="$(find akros_navigation)/launch/amcl.launch">
        <arg name="map_file"        value="$(arg map_file)"/>
        <arg name="initial_pose_x"  value="$(arg initial_pose_x)"/>
        <arg name="initial_pose_y"  value="$(arg initial_pose_y)"/>
        <arg name="initial_pose_a"  value="$(arg initial_pose_a)"/>
        <arg name="t265"            value="$(arg t265)"/>
    </include>

    <!-- INCLUDE MOVE_BASE LAUNCH FILE -->
    <include file="$(find akros_navigation)/launch/move_base.launch">
        <arg name="mode" value="$(arg mode)"/>
        <arg name="base_global_planner" value="$(arg base_global_planner)"/>
        <arg name="diff_local_planner"  value="$(arg diff_local_planner)"/>
        <arg name="holo_local_planner"  value="$(arg holo_local_planner)"/>
        <arg name="t265"                value="$(arg t265)"/>
    </include>
    
    <!-- INCLUDE WAYPOINT SEQUENCE STORE / PLAYER LAUNCH FILE -->
    <include file="$(find akros_behaviors)/launch/demo_waypoint_player.launch">
        <arg name="filename" value="$(find akros_behaviors)/config/waypoints_store.yaml"/>
    </include>
    
</launch>