<launch>
    
    <!-- ARGUMENTS - MAP_SERVER -->
    <arg name="map_file" default="$(find akros_slam)/maps/studio_obs_slam_toolbox.yaml"/>
    
    <!-- ARGUMENTS - AMCL -->
    <arg name="scan_topic"     default="rplidar/scan"/>
    <arg name="odom_model"     default="omni-corrected"/>
    <arg name="odom_frame_id"  default="t265_odom_frame"/>
    <arg name="base_frame_id"  default="base_link"/>
    <arg name="initial_pose_x" default="-3.7"/>
    <arg name="initial_pose_y" default="-0.5"/>
    <arg name="initial_pose_a" default="0.0"/>
    
    <!-- INCLUDE AKROS BRINGUP LAUNCH FILE -->
    <arg name="bringupType" default="2d"/> <!-- 2d or 3d -->
    <arg name="ds4_topic" default="ds4/cmd_vel"/>
    <include file="$(find akros_bringup)/launch/demo_bringup.launch">
        <arg name="mode"           value="$(arg bringupType)"/>
    </include>
    
    <!-- LAUNCH MAP_SERVER NODE -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
    
    <!-- LAUNCH AMCL NODE -->
    <param name="/use_sim_time" value="false"/>
    <node pkg="amcl" type="amcl" name="amcl">
        <remap from="scan"            to="$(arg scan_topic)"/>
        <param name="base_frame_id"   value="$(arg base_frame_id)"/>
        <param name="odom_frame_id"   value="$(arg odom_frame_id)"/>
        <param name="odom_model_type" value="$(arg odom_model)"/>
        <param name="initial_pose_x"  value="$(arg initial_pose_x)"/>
        <param name="initial_pose_y"  value="$(arg initial_pose_y)"/>
        <param name="initial_pose_a"  value="$(arg initial_pose_a)"/>
        <rosparam command="load" file="$(find akros_navigation)/config/amcl_params.yaml" />
    </node>

</launch>