<launch>
    
    <!-- ARGUMENTS - FRONTIER_EXPLORATION -->
    <arg name="goal_aliasing_val" default="0.5"/>
    <arg name="frequency_val" default="1.0"/>

    <!-- LAUNCH FRONTIER_EXPLORATION NODE -->
    <param name="/use_sim_time" value="false"/>
    <node pkg="exploration_server" type="plugin_client" name="explore_client" output="screen"/>
    <node pkg="exploration_server" type="exploration_server_node" name="explore_server" respawn="true">
        <param name="frequency" type="double" value="$(arg frequency_val)"/>
        <param name="goal_aliasing" type="double" value="$(arg goal_aliasing_val)"/>
        
        <rosparam file="$(find akros_navigation)/config/costmap/common_costmap_params.yaml" command="load" ns="explore_costmap" />
        <rosparam file="$(find akros_navigation)/config/frontier_exploration_params.yaml" command="load" />
    </node>
    
</launch>