<?xml version="1.0"?>
<robot name="akros_top" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find depthai_ros_driver)/urdf/oakd.urdf.xacro"/>
  <xacro:include filename="$(find rplidar_ros)/urdf/rplidar.urdf.xacro"/>
  
  <xacro:property name="M_PI"              value="3.1415926535897931" />
  <xacro:property name="lidar_offset_yaw"  value="${3*M_PI/4}" />
  
  <xacro:arg name="oakd_offset_z"     default="0.100" />
  <xacro:arg name="oakd_offset_x"     default="0.038" />
  
  <link name="base_link"/>

  <joint name="base2lidar_link" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 ${lidar_offset_yaw}"/>
    <parent link="base_link"/>
    <child link="rplidar_base"/>
  </joint>
  
  <joint name="base2oakd_link" type="fixed">
    <origin xyz="$(arg oakd_offset_x) 0 $(arg oakd_offset_z)" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="depthai_base"/>
  </joint>

</robot>
