<?xml version="1.0"?>
<launch>

    <!-- ARGUMENTS -->
    <arg name="system_name" default="akros"/>
    <arg name="t265" default="false"/>
    <arg name="mesh_pub" default="true"/>
    <arg name=gui" default="true"/>
    
    <!-- URDF -->
    <param name="use_gui" value="$(arg gui)"/>
    <param name="robot_description" 
        command="$(find xacro)/xacro '$(find akros_description)/urdf/akros_t265_only.urdf.xacro'" if="$(arg t265)"/>
    <param name="robot_description" 
        command="$(find xacro)/xacro '$(find akros_description)/urdf/akros.urdf.xacro'" unless="$(arg t265)"/>
                        
    <!-- ROBOT STATE PUBLISHER NODE -->
    <node name="$(arg system_name)_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" required="true"/>
    
    <!-- JOINT STATE PUBLISHER NODE -->
    <node name="$(arg system_name)_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" required="true"/>
    
    <!-- MESH_PUBLISHER NODE -->
    <group if="$(arg mesh_pub)">
        <node pkg="akros_description" type="mesh_publisher.py" name="mesh_pub"/>
    </group>

</launch>
