<?xml version="1.0"?>
<launch>
    
    <!-- ARGUMENTS -->
    <arg name="nodeName"           default="rgbd_pub"/>
    <arg name="lidarName"          default="rplidar"/>
    <arg name="lidarSerial"        default="/dev/ttyUSB0"/>
    <arg name="trackCam"           default="t265"/>
    
    <!-- ARGUMENTS - FIDUCIAL SLAM -->
    <arg name="map_frame"              default="map"/>
    <arg name="odom_frame"             default="base_link"/>
    <arg name="base_frame"             default="base_link"/>
    <arg name="publish_tf"             default="true"/>
    <arg name="tf_publish_interval"    default="0.2"/>
    <arg name="future_date_transforms" default="0.0"/>
    <arg name="publish_6dof_pose"      default="true"/>
    <arg name="systematic_error"       default="0.01"/>
    <arg name="covariance_diagonal"    default=""/>
    
    <!-- ARGUMENTS - T265 -->
    <arg name="enable_fisheye"   default="true"/>
    <arg name="enable_sync"      default="false"/>
    <arg name="linear_accel_cov" default="0.01"/>
    <arg name="initial_reset"    default="false"/>
    <arg name="unite_imu_method" default=""/>
    
    <!-- INCLUDE AKROS LAUNCH FILE -->
    <include file="$(find akros_test)/launch/akros_rgbd.launch">
        <arg name="lidarName"        value="$(arg lidarName)"/>
        <arg name="lidarSerial"      value="$(arg lidarSerial)"/>
        <arg name="trackCam"         value="$(arg trackCam)"/>
        <arg name="enable_fisheye"   value="$(arg enable_fisheye)"/>
        <arg name="enable_sync"      value="$(arg enable_sync)"/>
        <arg name="linear_accel_cov" value="$(arg linear_accel_cov)"/>
        <arg name="initial_reset"    value="$(arg initial_reset)"/>
        <arg name="unite_imu_method" value="$(arg unite_imu_method)"/>
    </include>

    <!-- FIDUCIAL_SLAM NODE -->
    <node type="fiducial_slam" pkg="fiducial_slam" output="screen" name="fiducial_slam">
        <param name="map_file" value="$(env HOME)/.ros/slam/map.txt" />
        <param name="map_frame" value="$(arg map_frame)" />
        <param name="odom_frame" value="$(arg odom_frame)" />
        <param name="base_frame" value="$(arg base_frame)" />
        <param name="publish_tf" value="$(arg publish_tf)" />
        <param name="tf_publish_interval" value="$(arg tf_publish_interval)" />
        <param name="future_date_transforms" value="$(arg future_date_transforms)" />
        <param name="publish_6dof_pose" value="$(arg publish_6dof_pose)" />
        <param name="sum_error_in_quadrature" value="true"/>
        <rosparam param="covariance_diagonal" subst_value="True">$(arg covariance_diagonal)</rosparam>
        <remap from="/camera_info" to="$(arg nodeName)/color/camera_info"/>
    </node>

</launch>
