<?xml version="1.0"?>
<launch>
    
    <!-- ARGUMENTS - OAK-D -->
    <arg name="nodeName"         default="nnd"/>
    <arg name="pub_detections"   default="false"/>
    <arg name="modelName"        default="mobilenet"/> <!-- mobilenet or yolov4 -->
    
    <!-- ARGUMENTS - T265 -->
    <arg name="trackCam"         default="t265"/>
    <arg name="enable_fisheye"   default="true"/>
    <arg name="enable_sync"      default="true"/>
    <arg name="linear_accel_cov" default="0.01"/>
    <arg name="initial_reset"    default="true"/>
    <arg name="unite_imu_method" default=""/>
    
    <!-- ARGUMENTS - RPLIDAR -->
    <arg name="lidarName"        default="rplidar"/>
    <arg name="lidarSerial"      default="/dev/ttyUSB_RPLIDAR"/>
    
    <!-- ARGUMENTS - HECTOR SLAM -->
    <arg name="mappingType" default="2d"/> <!-- 2d or 3d -->
    <arg name="geotiff_map_file_path" default="$(find akros)/maps"/>
    
    <!-- INCLUDE AKROS LAUNCH FILE -->
    <include file="$(find akros)/launch/demo_bringup_$(arg mappingType).launch">
        <arg name="nodeName"         value="$(arg nodeName)"/>
        <arg name="modelName"        value="$(arg modelName)"/>
        <arg name="lidarName"        value="$(arg lidarName)"/>
        <arg name="lidarSerial"      value="$(arg lidarSerial)"/>
        <arg name="trackCam"         value="$(arg trackCam)"/>
        <arg name="enable_fisheye"   value="$(arg enable_fisheye)"/>
        <arg name="enable_sync"      value="$(arg enable_sync)"/>
        <arg name="linear_accel_cov" value="$(arg linear_accel_cov)"/>
        <arg name="initial_reset"    value="$(arg initial_reset)"/>
        <arg name="unite_imu_method" value="$(arg unite_imu_method)"/>
    </include>

    <!-- INCLUDE HECTOR_MAPPING LAUNCH FILE -->
    <param name="/use_sim_time" value="false"/>
    <include file="$(find hector_mapping)/launch/mapping_default.launch">
        <arg name="scan_topic" value="$(arg lidarName)/scan"/>
        <arg name="odom_frame" value="t265_odom_frame"/> <!-- odom_frame -->
        <arg name="base_frame" value="t265_pose_frame"/> <!-- base_link -->
    </include>
    
    <!-- INCLUDE HECTOR_GEOTIFF LAUNCH FILE -->
    <include file="$(find hector_geotiff_launch)/launch/geotiff_mapper.launch">
        <arg name="trajectory_source_frame_name" value="base_link"/>
        <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
    </include>

</launch>
