<?xml version="1.0"?>
<launch>
    
    <!-- ARGUMENTS - OAK-D -->
    <arg name="nodeName"         default="nnd"/>
    <arg name="modelName"        default="mobilenet"/> <!-- mobilenet or yolov4 -->
    <arg name="pub_detections"   default="false"/>
    
    <!-- ARGUMENTS - T265 -->
    <arg name="enable_fisheye"   default="true"/>
    <arg name="linear_accel_cov" default="0.01"/>
    <arg name="initial_reset"    default="false"/>
    
    <!-- ARGUMENTS - ARUCO_DETECT -->
    <arg name="fiducial_len" default="0.068"/>
    <arg name="dictionary" default="7"/>
    <arg name="do_pose_estimation" default="true"/>
    <arg name="pub_fiducials"      default="false"/>
    
    <!-- ARGUMENTS - FIDUCIAL SLAM -->
    <arg name="map_frame"              default="map"/>
    <arg name="odom_frame"             default="t265_odom_frame"/>
    <arg name="base_frame"             default="base_link"/>
    <arg name="publish_tf"             default="true"/>
    <arg name="map_file"               default="$(env HOME)/.ros/slam/map.txt"/>
    
    <arg name="mappingType" default="3d"/> <!-- 2d or 3d -->
    <!-- INCLUDE AKROS LAUNCH FILE -->
    <include file="$(find akros)/launch/demo_bringup_$(arg mappingType).launch">
        <arg name="nodeName"         value="$(arg nodeName)"/>
        <arg name="pub_detections"   value="$(arg pub_detections)"/>
        <arg name="modelName"        value="$(arg modelName)"/>
        <arg name="enable_fisheye"   value="$(arg enable_fisheye)"/>
        <arg name="linear_accel_cov" value="$(arg linear_accel_cov)"/>
        <arg name="initial_reset"    value="$(arg initial_reset)"/>
    </include>

    <!-- INCLUDE ARUCO_DETECT LAUNCH FILE -->
    <include file="$(find akros)/launch/base_launch/aruco_detect.launch">
        <arg name="publish_images" value="$(arg pub_fiducials)" />
        <arg name="fiducial_len" value="$(arg fiducial_len)"/>
        <arg name="dictionary" value="$(arg dictionary)"/>
        <arg name="do_pose_estimation" value="$(arg do_pose_estimation)"/>
        <arg name="nodeName" value="$(arg nodeName)">
    </include>

    <!-- INCLUDE ARUCO_SLAM LAUNCH FILE -->
    <include file="$(find akros)/launch/base_launch/aruco_slam.launch">
        <arg name="map_file" value="$(arg map_file)" />
        <arg name="map_frame" value="$(arg map_frame)" />
        <arg name="odom_frame" value="$(arg odom_frame)" />
        <arg name="base_frame" value="$(arg base_frame)" />
        <arg name="publish_tf" value="$(arg publish_tf)" />
        <arg name="nodeName" value="$(arg nodeName)"/>
    </include>

</launch>
