<?xml version="1.0"?>
<launch>

    <!-- ARGUMENTS - OAK-D -->
    <arg name="nodeName"         default="nnd"/>
    <arg name="modelName"        default="mobilenet"/> <!-- mobilenet or yolov4 -->
    
    <!-- ARGUMENTS - T265 -->
    <arg name="enable_fisheye"   default="true"/>
    <arg name="linear_accel_cov" default="0.01"/>
    <arg name="initial_reset"    default="true"/>
    
    <!-- ARGUMENTS - RPLIDAR -->
    <arg name="lidarSerial"      default="/dev/ttyUSB_RPLIDAR"/>

    <!-- INCLUDE BASE LAUNCH FILES -->
    <!-- INCLUDE DESCRIPTION LAUNCH FILE -->
    <include file="$(find akros)/launch/base_launch/akros_description.launch" />
    
    <!-- INCLUDE T265 LAUNCH FILE -->
    <include file="$(find akros)/launch/base_launch/t265_stereo_slam.launch">
      <arg name="enable_fisheye"           value="$(arg enable_fisheye)"/>
      <arg name="linear_accel_cov"         value="$(arg linear_accel_cov)"/>
      <arg name="initial_reset"            value="$(arg initial_reset)"/>
    </include>
   
    <!-- INCLUDE RPLIDAR LAUNCH FILE -->
    <include file="$(find akros)/launch/base_launch/rplidar_2d_pointcloud.launch">
        <arg name="lidarSerial" value="$(arg lidarSerial)"/>
    </include>

</launch>
