<?xml version="1.0"?>
<launch>

    <!-- ARGUMENTS - GLOBAL -->
    <arg name="lidarName" default="rplidar"/>
    <arg name="lidarSerial"   default="/dev/ttyUSB1"/>
    
    <!-- INCLUDE RPLIDAR_PUBLISHER LAUNCH FILE -->
    <include file="$(find rplidar_ros)/launch/rplidar_publisher.launch">
        <arg name="lidarSerial" value="$(arg lidarSerial)"/>
    </include>  
    
    <!-- FILTER LASERSCAN -->
    <!-- LASER_FILTERS/SCAN_TO_SCAN_FILTER_CHAIN NODE -->
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
        <rosparam command="load" file="$(find akros)/config/laser_filter_config.yaml" />
        <remap from="scan" to="$(arg lidarName)/scan" />
        <remap from="scan_filtered" to="$(arg lidarName)/scan_filtered" />
    </node>
    
</launch>
