<?xml version="1.0"?>
<launch>
    <!-- ARGUMENTS - BRINGUP -->
    <arg name="mode" default="3d" doc="modes [2d, 3d]"/>
    
    <!-- ARGUMENTS - OAKD -->
    <arg name="oakd_mode" default="rgbd" doc="OAK-D Modes [rgb, rgbd, stereo]"/>
    
    <!-- ARGUMENTS - T265 -->
    <arg name="enable_fisheye" default="true"/>

    <!-- INCLUDE DESCRIPTION LAUNCH FILE -->
    <include file="$(find akros_bringup)/launch/akros_description.launch" />
    
    <!-- INCLUDE T265 LAUNCH FILE -->
    <include file="$(find akros_bringup)/launch/rs_t265.launch">
        <arg name="enable_fisheye" value="$(arg enable_fisheye)"/>
    </include>
   
    <!-- INCLUDE RPLIDAR LAUNCH FILE -->
    <include file="$(find akros_bringup)/launch/rplidar_a2.launch"/>
    
    <!-- IF 3D, LAUNCH OAK-D -->
    <group if="$(eval arg('mode') == '3d')"> 
        <!-- INCLUDE OAK-D LAUNCH FILE -->
        <include file="$(find akros_bringup)/launch/demo_oakd.launch">
            <arg name="oakd_mode" value="$(arg oakd_mode)"/>
        </include>
    </group>
    
    <!-- INCLUDE DS4 CONTROLLER LAUNCH FILE -->
    <include file="$(find akros_bringup)/launch/ds4_drive.launch">
        <arg name="standalone" value="false"/>
    </include>
    
    <!-- INCLUDE ROSSERIAL ARDUINO LAUNCH FILE -->
    <include file="$(find akros_bringup)/launch/rosserial_arduino.launch"/>
    
    <!-- LAUNCH TWIST_MIXER NODE -->
    <node pkg="akros_bringup" type="twist_mixer.py" name="twist_mux"/>

</launch>
