<?xml version="1.0"?>
<launch>

    <arg name="standalone" default="true"/>

    <!-- ARGUMENTS - OAKD -->
    <arg name="oakd_mode"             default="rgbd" doc="OAK-D Modes [rgbd, stereo(only for debugging)]"/>
    <arg name="nodelet"               default="false"/>
    <arg name="camera_name"           default="oakd"/>
    <arg name="lrcheck"               default="true"  /> 
    <arg name="extended"              default="false" /> 
    <arg name="subpixel"              default="true" />
    <arg name="rectify"               default="false"  />
    <arg name="depth_aligned"         default="false"  />
     <!-- see https://docs.luxonis.com/projects/api/en/latest/components/nodes/stereo_depth/#currently-configurable-blocks for possible combination of optionf for higher fps-->
    <arg name="stereo_fps"            default="15"    />
    
    <!-- INCLUDE OAK-D LAUNCH FILE -->
    <include file="$(find akros_bringup)/launch/oakd_rgbd_inertial.launch">
        <arg name="oakd_mode" value="$(arg oakd_mode)"/>
        <arg name="nodelet" value="$(arg nodelet)"/>
        <arg name="camera_name" value="$(arg camera_name)"/>
        <arg name="lrcheck" value="$(arg lrcheck)"/>
        <arg name="extended" value="$(arg extended)"/>
        <arg name="subpixel" value="$(arg subpixel)"/>
        <arg name="rectify" value="$(arg rectify)"/>
        <arg name="depth_aligned" value="$(arg depth_aligned)"/>
        <arg name="stereo_fps" value="$(arg stereo_fps)"/>
        <arg name="standalone" value="$(arg standalone)"/>
    </include>
    
    <!-- NODELET MANAGER -->
    <node pkg="nodelet" type="nodelet" name="pointcloud_manager"  args="manager" output="screen"/>
        
    <!-- POINT_CLOUD_XYZ NODELET (DEPTH_IMAGE_PROC) -->
    <node pkg="nodelet" type="nodelet" name="pointcloud_xyz"
        args="load depth_image_proc/point_cloud_xyz pointcloud_manager">
        <remap from="camera_info" to="/oakd/color/camera_info"/>
        <remap from="image_rect" to="/oakd/stereo/depth"/>    
        <remap from="points" to="/oakd/stereo/points"/>
    </node>
        
    <!-- POINTCLOUD_TO_LASERSCAN NODELET (DEPTH_IMAGE_PROC)-->
    <node pkg="nodelet" type="nodelet" name="pointcloud_to_laserscan"
        args="load pointcloud_to_laserscan/pointcloud_to_laserscan_nodelet pointcloud_manager">
        <remap from="cloud_in" to="/oakd/stereo/points"/>
        <remap from="scan" to="/oakd/stereo/scan"/>
    </node>
        
    <!-- STATISTICAL_OUTLIER_REMOVAL(SOR) NODELET (PCL) -->
    <!-- node pkg="nodelet" type="nodelet" name="sor_filter" 
        args="load pcl/StatisticalOutlierRemoval pointcloud_manager" output="screen">
        <remap from="~input" to="/oakd/stereo/points" />
        <remap from="~output" to="/oakd/stereo/points_sor" />
        <rosparam>
          mean_k: 8
          stddev: 0.01
          negative: False
        </rosparam>
    </node -->
        
    <!-- VOXEL_GRID NODELET (PCL) -->
    <node pkg="nodelet" type="nodelet" name="voxel_grid" 
        args="load pcl/VoxelGrid pointcloud_manager" output="screen">
        <remap from="~input" to="/oakd/stereo/points" />
        <remap from="~output" to="/oakd/stereo/points_vox" />
        <rosparam>
          filter_field_name: z
          filter_limit_min: 0.01
          filter_limit_max: 8
          filter_limit_negative: False
          leaf_size: 0.01
        </rosparam>
    </node>
        
    <group if="$(arg depth_aligned)"> 
   
        <!-- DEPTH_IMAGE_PROC/REGISTER NODELET -->
        <node pkg="nodelet" type="nodelet" name="depth_rgb_register" 
            args="load depth_image_proc/register pointcloud_manager">   
            <remap from="rgb/camera_info" to="/oakd/color/camera_info"/> 
            <remap from="depth/camera_info" to="/oakd/stereo/camera_info"/>
            <remap from="depth/image_rect" to="/oakd/stereo/depth"/>
            <remap from="depth_registered/camera_info" to="/oakd/stereo_rect/camera_info"/>
            <remap from="depth_registered/image_rect" to="/oakd/stereo_rect/depth"/>
        </node>
       
        <!-- DEPTH_IMAGE_PROC/POINT_CLOUD_XYZRGB NODELET -->
        <node pkg="nodelet" type="nodelet" name="depth_pointcloud_rgb" 
            args="load depth_image_proc/point_cloud_xyzrgb pointcloud_manager"> 
            <remap from="rgb/camera_info" to="/oakd/color/camera_info"/>    
            <remap from="rgb/image_rect_color" to="/oakd/color/image"/>
            <remap from="depth_registered/image_rect" to="/oakd/stereo_rect/depth"/>
            <remap from="depth_registered/points" to="/oakd/pointcloud/points_rgb"/>
        </node>
    
    </group>

</launch>
