<?xml version="1.0"?>
<launch>

  <arg name="ns"          default="ldlidar"/>
  <arg name="lidarSerial" default="/dev/ttyUSB_LIDAR"/>

  <group ns="$(arg ns)">
    <node name="LD06" pkg="ldlidar" type="ldlidar" args="LD06">
        <param name="serial_port" value="/dev/ttyUSB_LIDAR"/>
        <param name="lidar_frame" value="laser_frame"/>
        <remap from="LiDAR/LD06" to="scan" />
     </node>
  </group>

</launch>