<?xml version="1.0"?>
<launch>

    <arg name="standalone" default="true"/>

    <!-- ARGUMENTS - OAKD -->
    <arg name="oakd_mode"      default="rgbd" doc="OAK-D Modes [rgbd, stereo(only for debugging)]"/>
    <arg name="camera_name"    default="oakd"/>
    <arg name="lrcheck"        default="true"  /> 
    <arg name="extended"       default="false" /> 
    <arg name="subpixel"       default="true" />
    <arg name="rectify"        default="true"  />
    <arg name="depth_aligned"  default="false"  />
    <arg name="stereo_fps"     default="15"/> <!--https://docs.luxonis.com/projects/api/en/latest/components/nodes/stereo_depth/#currently-configurable-blocks-->
    <arg name="confidence"     default="200"/>
    <arg name="LRcheckthresh"  default="5"/>
    
    <group if="$(arg standalone)">
        <!-- INCLUDE DESCRIPTION LAUNCH FILE -->
        <include file="$(find akros_description)/launch/akros_description.launch" />
    </group>

    <!-- OAK-D NODE -->
    <!-- launch-prefix="xterm -e gdb (add [- - args] without space) -->
    <node name="oakd" pkg="akros_bringup" type="rgbd_inertial_node" output="screen" required="true">
        <param name="camera_name" value="$(arg camera_name)"/>
        <param name="mode" value="$(arg oakd_mode)"/>
        <param name="lrcheck" value="$(arg lrcheck)"/>
        <param name="extended" value="$(arg extended)"/>
        <param name="subpixel" value="$(arg subpixel)"/>
        <param name="rectify" value="$(arg rectify)" />
        <param name="depth_aligned" value="$(arg depth_aligned)" />
        <param name="stereo_fps" value="$(arg stereo_fps)" />
        <param name="confidence" value="$(arg confidence)"/>
        <param name="LRcheckthresh" value="$(arg LRcheckthresh)"/>
    </node>

</launch>